/*RESPONSIVENESS*/

    /*MEDIA-QUERY*/
@media screen and (max-width: 768px){
.upright{
        display: none;
}
/*-----------------------------------------------*/
    /*TOP-PAGE*/
.se-logo{
    margin-left: 5%;
    width: 8%;
    padding-top: 5%;
}
.ranking{
    width: 100%;
    font-size: 50%;
}
.empowering{
    font-size: 90%;  
}
/*-----------------------------------------------*/    
    /*STATS*/
.stats {  
    flex-direction: column;        
}
.stats-minor-heading{   
    font-size: 150%;
}
.stats-main-heading{
    font-size: 200%;
    margin-bottom: 5%;
    margin-top: 5%;
}
#globalrec{
    width:100%; 
    margin-bottom: 8%  
}
/*-----------------------------------------------*/
    /*SKILLS*/
.skills { 
    flex-direction: column;
}
.skillsimage{
    padding-left: 6%;
    margin-bottom: 4%; 
}
.rightskills{
    padding-left: 5%;
    margin-bottom: 3%;
    font-size: 80%;
    align-self: center;
}
.rightskills-para2{    
    width: 72%;
}
/*-----------------------------------------------*/
    /*PROGRAMS*/
.programs1{
    
    padding-bottom: 4%;
    padding-top: 4%;
    font-size: 230%;
}
.programs2{
    flex-direction: column;
}
#fsw{
    width:100%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
}
#fcs{
    width:100%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
}
/*-----------------------------------------------*/
}