/*RESPONSIVENESS*/

    /*MEDIA-QUERY*/
@media screen and (max-width: 768px){
.upright{
        display: none;
}
/*-----------------------------------------------*/
    /*TOP-PAGE*/
.se-logo{
    margin-left: 5%;
    width: 8%;
    padding-top: 5%;
}
.ranking{
    width: 100%;
    font-size: 50%;
}
.empowering{
    font-size: 90%;  
}
/*-----------------------------------------------*/    
    /*STATS*/
.stats {  
    flex-direction: column;        
}
.stats-minor-heading{   
    font-size: 150%;
}
.stats-main-heading{
    font-size: 200%;
    margin-bottom: 5%;
    margin-top: 5%;
}
#globalrec{
    width:100%; 
    margin-bottom: 8%  
}
/*-----------------------------------------------*/
    /*SKILLS*/
.skills { 
    flex-direction: column;
}
.skillsimage{
    padding-left: 6%;
    margin-bottom: 4%; 
}
.rightskills{
    padding-left: 5%;
    margin-bottom: 3%;
    font-size: 80%;
    align-self: center;
}
.rightskills-para2{    
    width: 72%;
}
/*-----------------------------------------------*/
    /*PROGRAMS*/
.programs1{
    
    padding-bottom: 4%;
    padding-top: 4%;
    font-size: 230%;
}
.programs2{
    flex-direction: column;
}
#fsw{
    width:100%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
}
#fcs{
    width:100%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
}
/*-----------------------------------------------*/
    /*GRADUATE*/
.graduate{
    flex-direction: column;
}
.graduateimage{
    padding: 2% 6% 3% 6%;
    width:100%;
}
.rightgraduate{
    font-size: 80%;
    padding-left: 7%;
}
.rightgraduate-para2{
    width: 78%;
}
/*-----------------------------------------------*/  
    /*RPs*/
.rp1{
    display: flex;
    flex-direction: column;
}
.rp1-a{
    width: 100%;
    margin-left: 0%;
    font-size: 165%;
    padding: 0% 8% 0% 8%;
    margin-top: 8%;  
    margin-bottom: 5%;
}
.rp1-b{
    font-size: 128%;
    margin-bottom: 4%;
}
/*-----------------------------------------------*/
    /*TARGET*/
.target1{
    width: 100%;
    padding: 0% 7% 3% 7%;
}
/*-----------------------------------------------*/
/*MEDIA*/
.media1{
    font-size: 200%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.media2{
    flex-direction: column;
}
.media2-b{
    width: 100%;
    margin-bottom: 5%;
}
.media3{
    flex-direction: column;
}
.media3-d{
    width: 100%;
    margin-bottom: 5%;
}
/*-----------------------------------------------*/
}