* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*TOP-PAGE*/
.top-page {      
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/presentation.JPG");
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
}
.up-left-right{
    display: flex; 
}
.upleft{
    flex:50%;
    height: 10%;
    padding-top:  1%;
}
.upright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    flex:50%;
    color: white;
    font-size: 130%;
    width:100%;
    margin-right: 7%;
}
.applynow{
    width:10%;
    width: max-content;
    border:none;
    font-size: 100%;
    color: white;
    background-color: #43fa2a;
    border-radius: 10%;
    padding: 5%;
}
.se-logo{
    margin-left: 15%;
    width: 12%;
    height: 10%;
}
.bottom-header{
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 8%;
    padding-bottom: 5%;
    width:100%;
}
.bottom-header>div{
    font-size: 300%;
    color: white;
}
.ranking{
    width: 50%;
    font-size: 70%;
    margin-top:2.5%;
    margin-bottom: 2.5%;
}
.empowering{
    font-size: 150%;
}
.learnmore{
    width:10%;
    width: fit-content;
    border:none;
    font-size: 65%;
    color: white;
    background-color: #43fa2a;
    border-radius: 10%;
    padding:0.5%;
}
.header-link, a:link{
    text-decoration: none;
    color: white;
}
#header-link1{
    border-bottom-style: solid;
    border-width: 0.5px;
   }
/*-----------------------------------------------*/
/*STATISTICS*/
.stats {  
    justify-content: space-around;
    display: flex;
    text-align: center;
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;   
}
.stats-minor-heading{
    
    font-size: 200%;
}
.stats-main-heading{
    color: #18ea19;
    font-size: 400%;
    margin-bottom: 10%;
}
#globalrec{
    width:25%;   
}
/*-----------------------------------------------*/
/*SKILLS*/
.skills { 
    padding-top: 7%; 
    display: flex;
    justify-content:space-between;
    margin-bottom: 5%; 
}
.leftskills{
    flex-basis: 50%;
}
.skillsimage{
    padding-left: 15%;
    width:95%;
}
.rightskills{
    flex-basis: 50%;
    width: 100%;
    font-size: 100%;
    align-items: flex-start;
}
.rightskills-para1{
    font-size: 300%;
    margin-bottom: 5%;
}
.rightskills-para2{
    font-size: 170%;
    margin-left: 5%;
    margin-bottom: 2.5%;
    width: 70%;  
}
#rightskills-link{
    color:#18ea19;
    font-size: 170%;
    margin-left: 5%;
    border-bottom-style:solid ;
    border-width: 0.5px;
}
/*-----------------------------------------------*/
/*PROGRAMS*/
.programs1{
    background-color: #18ea19;
    color: white;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 350%;
}
.programs2{
    display: flex;
    justify-content: space-around;
    background-color: #18ea19;  
    padding-bottom: 5%;
}
.left-programs2{
    flex-basis: 50%;
    height: 50%;
}
#fsw{
    width:55%;
}
#fcs{
    width:55%;
}
.right-programs{
    flex-basis: 50%;
    height: 50%;
}
/*-----------------------------------------------*/
/*GRADUATE*/
.graduate{
    padding-top: 5%; 
    display: flex;
    justify-content:space-between;
    margin-bottom: 5%;
}
.leftgraduate{
    flex-basis: 50%;
}
.graduateimage{
    padding-left: 15%;
    width:95%;
}
.rightgraduate{
    flex-basis: 50%;
    width: 100%;
    font-size: 100%;
    align-items: flex-start;
}
.rightgraduate-para1{
    font-size: 300%;
}
.rightgraduate-para2{
    padding-top: 5%;
    font-size: 170%;
    margin-left: 5%;
    margin-bottom: 2.5%;
    width: 70%;
}
#rightgraduate-link{
    color:#18ea19;
    font-size: 170%;
    margin-left: 5%;
    border-bottom-style:solid ;
    border-width: 0.5px;
}
/*-----------------------------------------------*/
/*RPs*/
.rp1{
    display: flex;
    flex-direction: column;
}
.rp1-a{
    margin-bottom: 1%;
    font-size: 230%;
    width: 55%;
    margin-left: 22.5%;
}
.rp1-b{
    margin-bottom: 2%;
    font-size: 155%;
}
.rp2{
    align-self: center;
    width: 86%;
}
/*-----------------------------------------------*/
/*TARGET*/
.target{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.target1{
    width: 56%;
}
/*-----------------------------------------------*/